charset "Utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
:root{
    --font1: Verdana, Geneva, tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3:'Dancing Script', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--font1);
    min-height: 100vh;
   background-color: darkgrey;

}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--font2); 
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 6vw;
    
}
header > p{
    padding-bottom: 50px;
}
header > a{
    color: rgb(236, 217, 42);
   text-decoration: none;
   font-weight: bolder;
}
section{
    
    font-family: var(--font3);
    font-size: 3,5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.imagem{
    background-attachment: fixed;
    box-shadow: rgba(0, 0, 0, 0.479);
    
   background-color: rgba(27, 27, 27, 0.61);
   ;
   color: white; 
}
section.imagem > p{
    width: 350px;
    background-color: rgba(26, 25, 25, 0.315);
}
section.normal{
    font-weight: bolder;
    background-color: white;
    color: black;
}
section#img01{
    background-position: right center;
    background-image: url(imagem/background001.jpg);
    background-size: cover;
    
}
section#img02{
    background-position: right center;
    background-image: url(imagem/background002.jpg);
    background-size: cover;
}
a:hover{
    color: purple;
    text-decoration: underline;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 9px;
}
footer > a{
color: white;
text-decoration: none;
font-weight: bolder;    
}